// DOJO 
script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojo/dojo.xd.js')
script(type='text/javascript' src='assets/js/dojo-function.js')
script(type='text/javascript' src='assets/js/dropdown-function.js')
script(type='text/javascript' src='assets/js/validaciones.js')
script(type='text/javascript' src='assets/js/calendario-filtro.js')
// JQUERY	
script(type='text/javascript' src='assets/js/jquery-1.8.3-min.js')
script(type='text/javascript' src='assets/js/jquery-function.js')
// SLIDERS
script(type='text/javascript' src='assets/js/slides.min.jquery.js')
script(type='text/javascript' src='assets/js/carrousel.js')
script(type='text/javascript' src='assets/js/eventos-jquery.js')
// DEMO	
// script(type='text/javascript' src='demo/js/jquery-ui.min.js')
// script(type='text/javascript' src='demo/js/demo_funciones.js')