head
	meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
	title Comprar y Vender Divisas
	meta(name="description" content="")
	meta(name="author" content="Itáu Dev Team")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	include styles
	include functions
	style body {font-family: Arial} .nav-titulos ul li.activo { color: rgb(255, 255, 255); background: rgb(10, 52, 111); } .nav-titulos ul li.activo a { color: rgb(255, 255, 255); }