// Estilos CSS
link(href="assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon")
link(href="assets/css/header.css" rel="stylesheet" type="text/css")
link(href="assets/css/base.css" rel="stylesheet" type="text/css")
link(href="assets/css/empresa.css" rel="stylesheet" type="text/css")
link(href="assets/css/botones.css" rel="stylesheet" type="text/css")
link(href="assets/css/form.css" rel="stylesheet" type="text/css")
link(href="assets/css/tablas.css" rel="stylesheet" type="text/css")
link(href="assets/css/dropdown.css" rel="stylesheet" type="text/css")
link(href="assets/css/componentes-dojo.css" rel="stylesheet" type="text/css")
link(href="assets/css/estilos.css" rel="stylesheet" type="text/css")
link(href="assets/css/porlets.css" rel="stylesheet" type="text/css")
link(href="assets/css/modal.css" rel="stylesheet" type="text/css")
link(href="assets/css/iconos.css" rel="stylesheet" type="text/css")
link(href="assets/css/carrousel.css" rel="stylesheet" type="text/css")
link(href="assets/css/simuladores.css" rel="stylesheet" type="text/css")
link(href="assets/css/adaptar.css" rel="stylesheet" type="text/css")
link(href="assets/css/new-buttons.css" rel="stylesheet" type="text/css")
// Solo para usar los !important
link(href="assets/css/bic.css" rel="stylesheet" type="text/css")
// Solo para usar los !important
link(href="assets/css/estilos-personalizacion.css" rel="stylesheet" type="text/css")
//link(href="demo/css/demo.css" rel="stylesheet" type="text/css")
//link(href="demo/css/jquery-ui.min.css" rel="stylesheet" type="text/css")