/* Esta es mi hoja de estilo */
body {
    font-family: 'Open Sans', sans-serif;
    a {
        font-size: 14px;
        text-decoration: none;
    }
	p {
		padding: 10px;
		span {
			font-style: italic;
		}
	}
	div {
		display: inline-block;
		border-radius: 10px;
		a {
			font-weight: bold;
			color: #fff;
		}
		p {
			font-size: 20px;
			float: left;
			span {
				font-family: cursive;
			}
		}
	}
    .container {
        width: 1200px;
        margin: 0 auto;
        outline: solid 1px rgba(255, 0, 0, 0.19);
        display: block;
    }
}
