include blocks/header
	body#ffmm.claro
		h1 Pug - node template engine
		include blocks/menu
		#container.col
			p Este es un parrafo
			ul
				li esta es una lista
		#footer Este es el footer
			small este es info